  <div class="container">
    <div class="col-sm-6">
      <img src="images/people.jpg" alt="" >
    </div>
    <div class="col-sm-6">
      <h1 >Welcome!</h1>
      <p> Please check out our courses.</p>
      <p> If you want to see a new course, click <a href="/courses">the courses page.</a></p>
      <p> When you see a course you like you can <a href="/contact">contact us to join! </a></p>
    </div>
</div>